# Environments
.venv/
venv/

# Python
__pycache__/
*/__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Tooling
.cache/
.mypy_cache/
.nox/
.pyre/
.pytest_cache/
.ruff_cache/
.hypothesis/
.tox/
.coverage
.coverage.*
htmlcov/
uv.lock.bak

# Local config
.env

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
