# Environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Tooling
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
uv.lock.bak

# Local config
.env

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
